@media (min-width: 476px) {
  header {
    nav {
      .buttons {
        .login {
          display: block;
        }
      }
    }
  }
}

@media (min-width: 770px) {
  main {
    section.view-2 {
      padding-top: 10rem;

      .container {
        .gif {
          top: -11%;
          right: 14%;

          img {
            width: 10rem;
            height: 6rem;
          }
        }

        .blur {
          height: 40rem;
          @include flex(row-reverse, center, center);

          gap: 4rem;
          border-radius: 6rem;

          .text {
            margin: 0 0;
            width: 35%;
            height: 100%;
            @include flex(column, $justify: center);

            h2 {
              line-height: 0.9;
              font-size: 2.5rem;
            }

            p {
              font-size: 1.125rem;
            }
          }

          .video {
            width: 65%;
            height: 100%;
          }
        }
      }
    }
  }
}

@media (min-width: 1080px) {
  header {
    nav {
      img {
        top: 3.5rem;
        left: 2.8rem;
      }

      .nav-links {
        display: flex;
        padding-top: 1.3rem;
      }

      .buttons {
        top: 3rem;
        right: 2.8rem;

        .hamburger {
          display: none;
        }
      }
    }
  }

  main {
    section.view-1 {
      margin-top: 0;

      .container {
        padding: 0 3rem 0 3rem;
        // background-color: red;
        height: auto;
        display: flex;
        flex-direction: column;

        .top {
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: start;

          .media {
            img {
              transform: scale(0.9);
              height: 100%;
            }
          }

          .text {
            margin-top: 8rem;

            h1 {
              text-align: left;
              font-size: 4rem;
              max-width: 50rem;
              line-height: 0.9;
            }
            p {
              max-width: 35rem;
              text-align: left;
              font-size: 1.5rem;
            }
          }
        }

        .bottom {
          flex-direction: row;

          .download::after {
            content: "Download for Windows";
          }

          .open {
            display: block;
          }
        }
      }
    }
  }
}