@import "base/fonts";
@import "base/reset";

@import "mixins";

@import "components/navbar";

@import 'views/view1';
@import 'views/view2';
@import 'views/view3';
@import 'views/view4';
@import 'views/view5';

@import 'responsive';

main {
  width: 100%;
}




