// @font-face {
//   font-family: "abcg-regular";
//   src: url("../assets/fonts/67110a451d677abf8340c6da_ABCGintoDiscord-Regular.woff2");
// }

// @font-face {
//   font-family: "abcg-bold";
//   src: url("../assets/fonts/67110b10efb84547ce5e8ef7_ABCGintoDiscordNord-Bold.woff2");
// }

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// html,
// body {
//   // min-height: 100vh;
//   width: 100%;
//   background-image: url("../assets/images/673df7fbe95a8e90a7571751_D-bg.png");
//   background-repeat: no-repeat;
//   background-size: cover; // makes it stretch to fill
//   // background-position: center; 

// }


@import "base/fonts";
@import "base/reset";

@import "mixins";

@import "components/navbar";


@import 'views/view1';
@import 'views/view2';

@import 'responsive';


// header {
//   width: 100%;
//   padding: 1.5rem;
//   position: relative; // keep layout normal
//   // z-index: 100;

//   nav {
//     // max-width: 20rem;
//     display: flex;
//     justify-content: center; // center links by default
//     align-items: first baseline;
//     position: relative; // allows fixed children positioning
//     // inset: 0% 0% auto;

//     // === Fixed logo ===
//     img {
//       position: fixed;
//       top: 2.2rem;
//       left: 1.5rem;
//       z-index: 200;
//     }

//     // === Fixed buttons ===
//     .buttons {
//       position: fixed;
//       top: 2rem;
//       right: 1.5rem;
//       display: flex;
//       gap: 0.5rem;
//       z-index: 200;

//       .login {
//         display: none;
//         border: none;
//         outline: none;
//         cursor: pointer;
//         border-radius: 0.8rem;
//         padding: 0.5rem 1rem;
//         background-color: #ffffff;
//         font-family: "abcg-regular", sans-serif;
//         font-size: 1rem;
//         font-weight: bold;
//         transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);


//         &:hover {
//           background-color: #C7C8CE;
//           transform: translateY(-2px);
//         }
//       }

//       .hamburger {
//         display: inline-flex;
//         padding: 0.5rem;
//         border: none;
//         outline: none;
//         cursor: pointer;
//         border-radius: 0.875rem;
//         background-color: #ffffff1a;
//         backdrop-filter: blur(1px);

//         i {
//           font-size: 1rem;
//           color: white;
//         }
//       }
//     }

//     // === Center links (scrollable) ===
//     .nav-links {
//       max-width: 20px;
//       display: none;
//       align-items: center;
//       justify-content: center;
//       // gap: 1rem;
//       list-style: none;
//       // font-size: 1vw;
//       font-size: clamp(0.5rem, 1vw, 1rem);

//       font-family: "abcg-regular", sans-serif;
//       font-weight: bold;


//       li a {
//         display: inline-flex;
//         align-items: center;
//         // white-space: nowrap; 
//         padding: 1rem;
//         border-radius: 0.8rem;
//         text-decoration: none;
//         color: white;
//         transition: background-color 0.3s;
//         // flex-wrap: nowrap;


//         &:hover {
//           background-color: #5865f2;
//         }

//         .ri-arrow-down-s-line {
//           opacity: 0.5;
//         }
//       }
//     }
//   }
// }

main {
  width: 100%;
}

  // section.view-1 {
  //   width: 100%;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   // background-color: red;
  //   margin-top: 2rem;

  //   .container {
  //     width: 100%;
  //     max-width: 1350px;
  //     // gap: 1rem;
  //     // background-color: yellowgreen;
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //     justify-content: center;
  //     padding: 2rem;

  //     .top {
  //       width: 100%;
  //       // background-color: yellow;
  //       display: flex;
  //       flex-direction: column;
  //       align-items: center;

  //       .media {
  //         // background-color: red;
  //         position: relative;
  //         display: inline-block;

  //         .base {
  //           display: block;
  //           width: 100%;
  //         }

  //         .girl {
  //           position: absolute;
  //           // top: 0;
  //           bottom: 10%;
  //           left: -14%;
  //           width: auto;
  //           max-height: 15rem;
  //           height: 30vw;
  //         }

  //         .boy {
  //           position: absolute;
  //           // top: 0;
  //           bottom: 8%;
  //           right: 0;
  //           width: auto;
  //           max-height: 15rem;
  //           height: 30vw;
  //         }

  //       }

  //       .text {
  //         margin-top: 2rem;
  //         margin-bottom: 2rem;

  //         h1 {
  //           margin-bottom: 1rem;
  //           max-width: 20rem;
  //           text-align: center;
  //           text-transform: uppercase;
  //           line-height: 1;
  //           font-size: 1.68rem;
  //           font-family: "abcg-bold", sans-serif;
  //           color: #ffffff;
  //         }

  //         p {
  //           max-width: 20rem;

  //           text-align: center;
  //           font-size: 1rem;
  //           font-family: "abcg-regular", sans-serif;
  //           color: #ffffff;
  //         }
  //       }
  //     }

  //     .bottom {
  //       display: flex;
  //       flex-direction: column;
  //       align-items: center;
  //       justify-content: center;
  //       gap: 1.5rem;
  //       width: 100%;
  //       // background-color: red;

  //       .download {
  //         display: inline-flex;
  //         align-items: center;
  //         width: fit-content;
  //         gap: 0.5rem;
  //         padding: 1rem;
  //         border: none;
  //         outline: none;
  //         border-radius: 0.5rem;
  //         font-size: 1.125rem;
  //         font-family: "abcg-regular", sans-serif;
  //         cursor: pointer;
  //         color: #23272a;
  //         transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);


  //         span {
  //           display: none;
  //         }

  //         &::after {
  //           content: "Download from Google Play";
  //         }

  //         &:hover {
  //           background-color: #C7C8CE;
  //         }
  //       }

  //       .open {
  //         position: relative;
  //         /* parent for pseudo-element */
  //         cursor: pointer;
  //         border: none;
  //         outline: none;
  //         padding: 1rem;
  //         border-radius: 0.5rem;
  //         font-size: 1.125rem;
  //         font-family: "abcg-regular", sans-serif;
  //         color: white;
  //         background-color: #5662EC;
  //         overflow: hidden;
  //         z-index: 1;
  //         /* ensures gradient doesn't spill outside */

  //         &:after {
  //           content: "";
  //           position: absolute;
  //           left: 0;
  //           right: 0;
  //           bottom: 0;
  //           height: 100%;
  //           background: linear-gradient(180deg, transparent 0%, #1f1d5d 130%);
  //           opacity: 0;
  //           transition: opacity 0.3s ease;
  //           border-radius: inherit;
  //           /* match button corners */
  //           z-index: -1;
  //         }

  //         &:hover:after {
  //           opacity: 1;
  //         }
  //       }


  //     }

  //   }





  // }

  // section.view-1 {
  //   width: 100%;
  //   // height: 100vh;
  //   padding: 2rem;
  //   background-position: center;
  //   background-size: cover;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   // background-image: url("../assets/images/673df7fbe95a8e90a7571751_D-bg.png");

  //   .container {
  //     position: relative;
  //     // display: flex;
  //     // flex-direction: column;
  //     // align-items: center;
  //     // justify-content: center;
  //     // background-color: black;
  //     max-width: 771px;



  //     .gif {
  //       // width: 100%;
  //       position: absolute;
  //       top: -50px;
  //       right: 50px;
  //       // z-index: -1;


  //       img {
  //         width: 10rem;
  //         // z-index: -10;
  //       }

  //     }

  //     .blur {
  //       position: relative;
  //       width: 100%;
  //       padding: 1.5rem;
  //       border-radius: 4rem;
  //       display: flex;
  //       flex-direction: column;
  //       gap: 1.5rem;
  //       overflow: hidden;

  //       // Frosted glass overlay
  //       // background-color: rgba(255, 255, 255, 0.1);
  //       // border: 1px solid rgba(255, 255, 255, 0.15);
  //       // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);

  //       // Blurred background image using pseudo-element
  //       &::before {
  //         content: "";
  //         position: absolute;
  //         inset: 0; // top:0; left:0; right:0; bottom:0;
  //         background-image: url("../assets/images/card-bg.png");
  //         background-size: cover;
  //         background-position: center;
  //         backdrop-filter: blur(6px);
  //         // filter: blur(1px); // adjust to soften blur
  //         opacity: 1; // control visibility
  //       }

  //       .text {
  //         margin: 0 4vw;
  //         color: white;
  //         z-index: 1; // ensures text is above pseudo-element
  //       }

  //       .video {
  //         width: 100%;
  //         border-radius: inherit;
  //         overflow: hidden;
  //         z-index: 1;

  //         video {
  //           width: 100%;
  //           height: 100%;
  //           border-radius: inherit;
  //           object-fit: cover;
  //         }
  //       }
  //     }

  //   }

  // }

  // section.view-2 {
  //   width: 100%;
  //   // height: 100vh;
  //   padding: 2rem;
  //   background-position: center;
  //   background-size: cover;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   // background-image: url("../assets/images/673df7fbe95a8e90a7571751_D-bg\ -\ Copy.png");

  //   .container {
  //     position: relative;
  //     // display: flex;
  //     // flex-direction: column;
  //     // align-items: center;
  //     // justify-content: center;
  //     // background-color: black;
  //     max-width: 771px;



  //     .gif {
  //       // width: 100%;
  //       position: absolute;
  //       top: -50px;
  //       right: 50px;
  //       // z-index: -1;


  //       img {
  //         width: 10rem;
  //         // z-index: -10;
  //       }

  //     }

  //     .blur {
  //       position: relative;
  //       width: 100%;
  //       padding: 1.5rem;
  //       border-radius: 4rem;
  //       display: flex;
  //       flex-direction: column;
  //       gap: 1.5rem;
  //       overflow: hidden;

  //       // Frosted glass overlay
  //       // background-color: rgba(255, 255, 255, 0.1);
  //       // border: 1px solid rgba(255, 255, 255, 0.15);
  //       // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);

  //       // Blurred background image using pseudo-element
  //       &::before {
  //         content: "";
  //         position: absolute;
  //         inset: 0; // top:0; left:0; right:0; bottom:0;
  //         // background-image: url("../assets/images/card-bg.png");
  //         background-size: cover;
  //         background-position: center;
  //         filter: blur(1px); // adjust to soften blur
  //         opacity: 1; // control visibility
  //       }

  //       .text {
  //         margin: 0 4vw;
  //         color: white;
  //         z-index: 1; // ensures text is above pseudo-element
  //       }

  //       .video {
  //         width: 100%;
  //         border-radius: inherit;
  //         overflow: hidden;
  //         z-index: 1;

  //         video {
  //           width: 100%;
  //           height: 100%;
  //           border-radius: inherit;
  //           object-fit: cover;
  //         }
  //       }
  //     }

  //   }

  // }


// @media (min-width: 476px) {
//   header {
//     nav {
//       .buttons {
//         .login {
//           display: block;
//         }
//       }
//     }
//   }
// }

// @media (min-width: 1060px) {
//   header {

//     // background-color: red;
//     nav {
//       img {
//         top: 3.5rem;
//         left: 2.8rem;
//         // background-color: red;
//       }

//       .nav-links {
//         display: flex;
//         padding-top: 1.3rem;
//       }

//       .buttons {
//         top: 3rem;
//         right: 2.8rem;

//         .hamburger {
//           display: none;
//         }
//       }
//     }
//   }

//   main {
//     section.view-1 {

//       margin-top: 0;

//       .container {
//         padding: 0 3rem 0 3rem;
//         // background-color: red;
//         height: auto;
//         display: flex;
//         flex-direction: column;

//         // gap: 10rem;
//         .top {
//           flex-direction: row-reverse;
//           justify-content: space-between;
//           align-items: start;

//           .media {

//             // background-color: yellow;
//             img {
//               transform: scale(0.9);
//               height: 100%;
//               // transform-origin: center; 
//             }
//           }

//           .text {
//             margin-top: 8rem;

//             h1 {
//               text-align: left;
//               font-size: 4rem;
//               max-width: 50rem;
//               line-height: 0.9;
//               // white-space: nowrap;
//             }

//             p {
//               max-width: 35rem;
//               text-align: left;
//               font-size: 1.5rem;
//             }
//           }
//         }

//         .bottom {
//           flex-direction: row;

//           .download::after {
//             content: "Download for Windows";
//           }

//           .open {
//             display: block;
//           }
//         }
//       }
//     }
//   }
// }