@import "base/fonts";
@import "base/reset";

@import "mixins";

@import "components/navbar";

@import 'views/view1';
@import 'views/view2';
@import 'views/view3';
@import 'views/view4';
@import 'views/view5';
@import 'views/view6';
@import 'views/view7';
@import 'views/view8';
@import 'views/view9';
@import 'views/view10';

@import 'responsive';

main {
  width: 100%;
}




