.boot-screen {
  position: fixed;
  inset: 0;
  background: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 99999;

  opacity: 1;
  transition: opacity 0.4s ease;
}

.boot-screen.fade-out {
  opacity: 0;
  pointer-events: none;
}

.boot-logo {
  width: 80px;
  height: 100px;
  margin-bottom: 3rem;
}

.boot-progress {
  width: 180px;
  height: 4px;
  
  background: rgba(255, 255, 255, 0.25);
  border-radius: 999px;
  overflow: hidden;
}

.boot-progress-fill {
  height: 100%;
  width: 0%;

  background: linear-gradient(
  to right,
  #f5f5f7,
  #ffffff,
  #f5f5f7
);


  border-radius: 999px;
  transition: width 0.2s ease;
}
