.dock {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  position: fixed;
  z-index: 99;
  // position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(53, 53, 53, 0.65);
  backdrop-filter: blur(8px);
  
  padding-inline: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.75rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 1rem;
  transition: gap 0.25s ease;

  &:hover {
    gap: 1.3rem;
  }

  .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.65rem;
    border-radius: 0.75rem;
    height: 2.75rem;
    width: 2.75rem;
    transition: all 0.2s linear;

    .active-dot {
      position: absolute;
      bottom: -10px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: white;
    }
  }

  .icon {
  transition: transform 0.15s cubic-bezier(0.22, 1, 0.36, 1);
}


  // .icon:hover {
  //   transform: scale(1.25) translateY(-20%);
  // }

  // .icon:hover+.icon,
  // .icon:has(+ .icon:hover) {
  //   transform: scale(1.1) translateY(-20%);
  // }

  .github, 
  .cli {
    background-color: black;
  }

  .note {
    background: linear-gradient(
      to bottom,
      rgb(255, 179, 87),
      rgb(255, 153, 28)
    );
  }

  .pdf {
    background: linear-gradient(145deg, #ff4b4b, #c62828);
  }

  .calendar,
  .mail {
    background: linear-gradient(to bottom, rgb(105, 94, 255), rgb(66, 52, 255));
  }

  .spotify {
    background: linear-gradient(145deg, #1db954, #159643);
  }

  .linkedin {
          padding: 0;
    img {
          background: #0077B7;
          border-radius: 0.75rem;
          height: 100%;
    }
  }

}

.dock.has-active {
  padding-bottom: 1rem;
}

@keyframes dockBounce {
  0% {
    transform: translateY(0) scale(1.25);
  }

  45% {
    transform: translateY(-50px) scale(1.25);
  }

  100% {
    transform: translateY(0) scale(1.25);
  }
}

.dock-bounce {
  animation: dockBounce 0.9s cubic-bezier(0.22, 1, 0.36, 1);
}


