nav {
    width: 100%;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;

    color: rgba(255, 255, 255, 0.85);
    background: rgba(45, 45, 45, 0.6);
    backdrop-filter: blur(12px);
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .left {
        display: flex;
        gap: 1rem;  

        .apple-icon {
            display: flex;
        }
    }
    .right {
        display: flex;
        align-items: center;
        gap: 1rem;

        .nav-icon {
            display: flex;
        }
    }
    
}