nav {
  width: 100%;
  padding-inline: 0.75rem;
  padding-block: 0.35rem;

  color: rgba(255, 255, 255, 0.85);
  background: rgba(45, 45, 45, 0.6);
  backdrop-filter: blur(12px);

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    display: flex;
    // gap: 1rem;

    .nav-item {
        padding-inline: 0.55rem;
        // padding-block: 0.25rem;
    }

    .apple-icon {
      display: flex; 
      margin-right: 0.55rem;
    }

    .menu-dropdown {
      position: fixed;
      top: 2.6rem; // below navbar
      left: 6rem; // you can compute later per-item if needed

      min-width: 180px;
      padding: 0.4rem;

      background: rgba(53, 53, 53, 0.65);
      backdrop-filter: blur(8px);
      border-radius: 0.5rem;
      border: 1px solid #90856D;

      box-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);

      color: rgba(255, 255, 255, 0.9);
      z-index: 9999;

      p {
        padding: 0.4rem 0.6rem;
        border-radius: 0.3rem;
        cursor: default;

        &:hover {
          background: rgba(255, 255, 255, 0.12);
        }
      }
    }
  }
  .right {
    display: flex;
    align-items: center;
    gap: 1rem;

    .nav-icon {
      display: flex;
    }
  }
}
