@font-face {
  font-family: "Chillax";
  src: url("../assets/fonts/63cffc0a3942456e003bc265_Chillax-Regular.woff") format("woff2");

  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2");
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/63cffc20aa8997095067596f_Satoshi-Light.woff");
}