* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
html, body {
  height: 100%;
  width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {

        width: 500px;
        height: 250px;
        padding: 20px;
        border-radius: 2rem;
        background-color: rgb(255, 255, 255);

        h1 {
            text-align: center;
            font-size: 1.5rem;
            span {
                color: rgb(28, 28, 215);
            }
        }

        .outer {
            width: 100%;
            height: 15px;
            border-radius: 1rem;
            background-color: rgb(205, 205, 205);
            margin-top: 20px;

            .inner {
                height: 100%;
                width: 0%;
                background-color: green;
                border-radius: 1rem;
            }
        }

        .bottom {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;

            .percentage{
                font-size: 3rem;
            }
            .btn {
                padding-left: 1rem;
                padding-right: 1rem;
                border-radius: 0.5rem;
                border: none;
                cursor: pointer;
                color: white;
                font-weight: bold;
                font-size: 1.5rem;
                background-color: green;

                &:active {
                    scale: 0.9;
                }
            }
        }
    }

}