@font-face {
    font-family: "SDGlitch_Demo";
    src: url("./SDGlitch_Demo.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: crimson;
    background-image: url("./bg-hero.jpg");
    background-size: cover;
    background-position: center;
}

.text{
    font-size: 50px;
    text-align: center;
    font-family: "SDGlitch_Demo";
    text-shadow: 0 0 10px #00ff41, 0 0 20px #00ff41, 0 0 40px #00ff41;

}