@use '../../styles/abstracts/variables' as *;
@use '../../styles/abstracts/mixins' as *;

.shell {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: $color-bg-primary;
  overflow: hidden;
}

.main {
  flex: 1;
  overflow-y: auto;
  @include custom-scrollbar;
}
