section.view-5 {
    @include flex(row, 0rem, center, space-between);
    padding: 1.5rem;
    width: 100%;
    color: #f4f2ed;

    .hero-title {
        @include hero-title(2rem)
    }

    .button-text {

        @include flex(row, 0.5rem, center);
        display: none;
        /* aligns icon and text */
        font-family: 'Roboto', sans-serif;
        font-size: 0.875rem;

        .icon-wrapper {
            display: inline-flex;
            /* makes a proper box for background */
            justify-content: center;
            align-items: center;
            background-color: #1E1E1E;
            padding: 0.5rem;
            /* size of circular background */
            border-radius: 50%;
            color: #f4f2ed;
            /* color of SVG via currentColor */
        }

    }

}