section.view-2 {
    @include flex(column);
    width: 100%;
    padding: 2rem;
    padding-top: 3rem;

    .container {
        position: relative;
        max-width: 1300px;
        width: 100%;
        padding-top: 1rem;

        .gif {
            position: absolute;
            top: -5.5%;
            right: 10%;

            img {
                width: 6rem;
                height: 4rem;
            }
        }

        .blur {
            @include flex(column, $gap: 1.5rem);
            position: relative;
            width: 100%;
            padding: 1.5rem;
            gap: 1.5rem;
            border-radius: 3rem;
            overflow: hidden;

            // Blurred background image using pseudo-element
            &::before {
                content: "";
                position: absolute;
                inset: 0; // top:0; left:0; right:0; bottom:0;
                background-image: url("../../assets/images/card-bg.png");
                background-size: cover;
                background-position: center;
                backdrop-filter: blur(6px);
                opacity: 1; // control visibility
            }

            .text {
                margin: 0 4vw;
                color: white;
                z-index: 1; // ensures text is above pseudo-element

                h2 {
                    @include font-style(1.6875rem, "abcg-bold");
                    text-transform: uppercase;
                    margin-bottom: 1rem;
                    line-height: 0.9;
                }
                p {
                    @include font-style(1rem, "abcg-regular");
                }
            }

            .video {
                width: 100%;
                border-radius: inherit;
                overflow: hidden;
                z-index: 1; // ensures video is above pseudo-element

                video {
                    width: 100%;
                    height: 100%;
                    border-radius: inherit;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
}