section.view-9 {
    
    @include flex(column, center);
    padding-top: 15rem;

    .container {
        @include flex(column, center);
        width: 100%;
        gap: 3rem;
        max-width: 1300px;

        .upper {
            @include flex(column, center);
            gap: 3rem;
            h2 {
                @include font-style(1.6875rem, "abcg-bold");
                color: white;
                text-align: center;
                text-transform: uppercase;
                // max-width: 20rem;
            }

            button {
                @include button-base(#fff, #23272a);
                @include smooth-transition();
                display: inline-flex;
                align-items: center;
                gap: 0.5rem;
                white-space: nowrap;

                span {
                    display: none;
                }

                &::after {
                    content: "Download from Google Play";
                }

                &:hover {
                    background-color: #C7C8CE;
                }
            }
        }

        .lower {
            @include flex(column, center, center);
            position: relative;
            height: 400px;
            width: 100%;

            .group {
                position: absolute;
                bottom: -3%;
                display: none;
                width: auto;
                max-width: 100%;
                max-height: 35rem;
                z-index: 201;
                // height: 50vw;
            }

            .solo {
                position: absolute;
                bottom: -16%;
                width: auto;
                max-width: 100%;
                height: 28rem;
                object-fit: cover;
                z-index: 201;
            }
        }
    }
}