section.view-5 {
    .carousel {
        background-image: url("/assets/images/marquee.webp");
        background-size: cover;
        width: 100%;
        display: flex;
        overflow-x: auto;
        margin-top: 15rem;

        &::-webkit-scrollbar {
            display: none;
        }

        .group {
            img {
                height: 40px;
                width: auto;
            }
            display: flex;
            align-items: center;
            gap: 1em;
            animation: spin 35s infinite linear;
            padding-right: 1em;


            .card {
                @include font-style(5.4em, "abcg-bold");
                text-transform: uppercase;
                color:white;

                flex: 0 0 5em;
                padding: 0.5em;
                border-radius: 2rem;
                text-align: center;
                align-content: center;
            }
        }
    }
}

@keyframes spin {
    from {
        translate: 0;
    }
    to {
        translate: -100%;
    }
}