section.view-10 {
  background-image: url("../../assets/images/footer-bg.png");
  background-size: cover;
  position: relative;
  z-index: 200;
  padding-top: 5rem;
     display: flex;
    align-items: center;
    justify-content: center;

  .container {
    padding: 2rem;
    width: 100%;
    max-width: 1750px;

    .top {

      .footer-title {
        color: #ffffff80;
        @include font-style(1rem, "abcg-regular");
      }

      .top-left {
        @include flex(column, null, null);
        @include font-style(1rem, "abcg-regular");
        gap: 2rem;
        color: white;

        // Language dropdown section
        .second {
          @include flex(column, null, null);
          gap: 1rem;

          .wrapper {
            position: relative;
            max-width: 20rem;
            width: 100%;

            .select-btn {
              @include flex(row, center, space-between);
              @include select-btn(#5256B4, 0 1.8rem);
            }

            &.active {
              .content {
                display: block;
              }
            }

            .content {
              @include font-style(1rem, "abcg-regular");
              @include dropdown-content(#5256B4);
              position: absolute;
              z-index: 1;

              .options {
                @include custom-scrollbar;
                @include flex(column, null, null, 1.8rem);
                height: 13.5rem;
                overflow-y: auto;

                li {
                  // height: 3.125rem;
                  padding: 0 0.8rem;
                  font-size: 1rem;
                  border-radius: inherit;
                }
              }
            }
          }
        }

        .third {
          @include flex(column, null, null);
          margin-top: 4rem;
          gap: 1rem;

          .icons {
            @include flex(row, null, null);
            gap: 1.8rem;

            i {
              font-size: clamp(1rem, 5vw, 2rem);
              cursor: pointer;
            }
          }
        }
      }

      .top-right {
        margin-top: 5rem;

        .footerDropdown {
          position: relative;
          width: 100%;

          span {
            @include font-style(1.2rem, "abcg-regular");
            font-weight: 500;
            color: #FFFFFF;
          }

          .select-btn {
            @include flex(row, center, space-between);
            @include select-btn($padding: 2rem 0, $radius: 0);
            height: 4rem;
            border-bottom: 2px solid #ffffff1a;
          }

          &.active {
            .content {
              display: block;
            }
          }

          .content {
            @include font-style(1rem, "abcg-regular");
            @include dropdown-content($extra-border: 2px solid #ffffff1a);
            border-radius: 0;
            margin-top: 0;
            padding: 0;
            padding-bottom: 1rem;

            .options {
              display: flex;
              flex-direction: column;
              gap: 1rem;

              li {
                width: fit-content;
                padding: 0.5rem 0 0.5rem;
                font-size: 1rem;
                list-style: none;
                cursor: pointer;
              }
            }
          }

          &:last-child .select-btn {
            border-bottom: none;
          }
        }
      }
    }

    .bottom {
      padding-top: 5rem;

      img {
        width: 100%;
      }
    }
  }
}