@font-face {
    font-family: "Pixel";
    src: url("./pixel-font.TTF");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    cursor: none;
}


@mixin key-bg($img, $color) {
    background-image: url($img);
    background-size: cover;
    background-position: left;
    background-color: $color;
}

main {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // overflow: hidden;
    background-image: url("https://i.pinimg.com/1200x/e2/32/c8/e232c853e9f782a365ca2fff135fc43b.jpg");
    background-size: contain;
    background-position: center;

    .cursor {
        height: 80px;
        width: 80px;
        position: fixed;
        transform: translate(-20%, -20%);
        z-index: 1;
        pointer-events: none;
    }

    h1 {
        text-align: center;
        font-family: "Pixel";
        font-size: 5rem;
        color: transparent;
        -webkit-text-stroke: 2px black;
        -webkit-backdrop-filter: blur(30px);
        -webkit-background-clip: text;
        background-image: url("https://i.pinimg.com/1200x/fe/50/5c/fe505c47473807a7bafc48ccfece4829.jpg");
        background-position: center;
        letter-spacing: 1px;
    }

    .piano {
        max-width: 1100px;
        width: 95%;
        height: fit-content;
        background-color: rgba(222, 173, 238, 0.301);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        padding: 15px;
        border-radius: 1rem;

        .row-1,
        .row-2,
        .row-3,
        .row-4 {
            display: flex;
            width: 100%;
            gap: 10px; // optional spacing between keys
            margin-bottom: 10px;
        }

        .key {
            flex: 1; // ← makes each key expand equally
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            height: 120px;
            border-radius: 8px;
            font-size: 1.3rem;
            -webkit-text-stroke: 2px black;
            font-family: "Pixel";
            color: rgb(255, 251, 0);

            &:active {
                transform: scale(0.92);
            }
        }

        $keys: (A: ("https://www.noff.gg/brawl-stars/res/img/brawler_portraits/amber.webp", #F8C820),
            B: ("https://www.noff.gg/brawl-stars/res/img/brawler_portraits/bea.webp", #B116ED),
            C: ("https://www.noff.gg/brawl-stars/res/img/brawler_portraits/colt.webp", #2EDD1C),
            D: ("https://www.noff.gg/brawl-stars/res/img/brawler_portraits/draco.webp", #F8C820),
            E: ("https://www.noff.gg/brawl-stars/res/img/brawler_portraits/edgar.webp", #B116ED),
            F: ("https://www.noff.gg/brawl-stars/res/img/brawler_portraits/fang.webp", #EF4140),
            G: ("https://www.noff.gg/brawl-stars/res/img/brawler_portraits/griff.webp", #B116ED),
            H: ("https://www.noff.gg/brawl-stars/res/img/brawler_portraits/hank.webp", #B116ED),
            I: ("https://i.pinimg.com/736x/17/16/9b/17169b94f83d60d730ac238580f7fbd7.jpg", #B116ED),
            J: ("https://www.noff.gg/brawl-stars/res/img/brawler_portraits/janet.webp", #EF4140),
            L: ("https://www.noff.gg/brawl-stars/res/img/brawler_portraits/leon.webp", #F8C820),
            M: ("https://www.noff.gg/brawl-stars/res/img/brawler_portraits/melodie.webp", #EF4140),
            N: ("https://www.noff.gg/brawl-stars/res/img/brawler_portraits/nita.webp", #2EDD1C),
            O: ("https://i.pinimg.com/736x/74/84/52/7484525f8c02c7cbb86881d72e7e6eac.jpg", transparent),
            P: ("https://www.noff.gg/brawl-stars/res/img/brawler_portraits/piper.webp", #B116ED),
            Q: ("https://i.pinimg.com/736x/af/c2/0a/afc20a91527765a2effe16965c2e8050.jpg", transparent),
            R: ("https://www.noff.gg/brawl-stars/res/img/brawler_portraits/ruffs.webp", #EF4140),
            S: ("https://www.noff.gg/brawl-stars/res/img/brawler_portraits/surge.webp", #F8C820),
            T: ("https://www.noff.gg/brawl-stars/res/img/brawler_portraits/trunk.webp", #B116ED),
            U: ("https://i.pinimg.com/736x/15/ac/a7/15aca7240085e4c8eabd1c373fa2783a.jpg", transparent),
            V: ("https://i.pinimg.com/1200x/b2/f5/e8/b2f5e8a89aaad2a71e1c8b6de9443c31.jpg", transparent),
            W: ("https://www.noff.gg/brawl-stars/res/img/brawler_portraits/willow.webp", #EF4140),
            X: ("https://i.pinimg.com/736x/e0/6b/b5/e06bb5e65b41c9c6e8ee4a7f13095b44.jpg", transparent),
            Y: ("https://i.pinimg.com/1200x/9d/0b/c6/9d0bc64d652769d23421d7c7b8c69e03.jpg", transparent),
            Z: ("https://www.noff.gg/brawl-stars/res/img/brawler_portraits/ziggy.webp", #EF4140));

        @each $lt,
        $data in $keys {
            .key-#{$lt} {
                @include key-bg(nth($data, 1), nth($data, 2));
            }
        }

        .key-K {
            background:
                url("https://www.noff.gg/brawl-stars/res/img/brawler_portraits/kaze.webp"),
                linear-gradient(to bottom, #4A005D 0%, #FFD700 50%, #00FF7F 100%);

            background-size: cover;
        }
    }
}

@media (max-width : 750px) {
    main {
        img {
            display: none;
        }
        h1 {
            font-size: 3rem;
        }
        .piano {
            .key {
                height: 80px;
                font-size: 1rem;
            }
        }
    }
}

@media (max-width : 550px) {
    main {
        .piano {
            padding: 8px;

            .row-1,
            .row-2,
            .row-3,
            .row-4 {
                gap: 5px
            }
            .key {
                height: 50px;
            }
        }
    }
}