header {
  width: 100%;
  padding: 1.5rem;
  position: relative;
  
  nav {
    // Use our flex mixin
    @include flex(row, first baseline, center);
    position: relative;

    // === Fixed logo ===
    img {
      position: fixed;
      top: 2.5%;
      left: 5%;
      z-index: 200;
    }

    // === Fixed buttons ===
    .buttons {
      @include flex(row, center, center, 0.5rem);
      position: fixed;
      top: 1.5%;
      right: 1.5rem;
      right: 5%;
      z-index: 200;

      .login {
        @include button-base(#fff, #23272a);
        @include smooth-transition(all, 0.25s);
        border-radius: 0.8rem;
        padding: 0.5rem 1rem;
        font-weight: bold;
        display: none;

        &:hover {
          background-color: #c7c8ce;
          transform: translateY(-2px);
        }
      }

      .hamburger {
        @include flex(row, center, center);
        padding: 0.5rem;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 0.875rem;
        background-color: #ffffff1a;
        backdrop-filter: blur(1px);

        i {
          font-size: 1rem;
          color: white;
        }
      }
    }

    // === Scrollable nav links ===
    .nav-links {
      @include flex(row, center, center);
      max-width: 20px;
      display: none;
      list-style: none;
      font-size: clamp(0.5rem, 1vw, 1rem);
      font-family: "abcg-regular", sans-serif;
      font-weight: bold;

      li a {
        display: inline-flex;
        align-items: center;
        padding: 1rem;
        border-radius: 0.8rem;
        text-decoration: none;
        color: white;
        @include smooth-transition(background-color, 0.3s);

        &:hover {
          background-color: #5865f2;
        }

        .ri-arrow-down-s-line {
          opacity: 0.5;
        }
      }
    }
  }
}
