// 🎨 Colors
$color-primary: #0468D7;
$color-gradient-start: #027dfd;
$color-gradient-end: #833ef2;
$color-text-dark: #4A4A4A;
$color-light-bg: #f3fcff;
$color-muted-bg: #fcdde8;

// 🖋 Fonts
$font-google: "Google Sans", sans-serif;
$font-roboto: "Roboto", sans-serif;

// 📏 Spacing
$spacing-section: 1.5rem;

// 🔧 Breakpoints
$bp-lg: 1280px;
$bp-md: 1022px;
