section.view-1 {
  width: 100%;
  @include flex(column, center, center);
  gap: 5.5rem;
  padding: 5rem 0 0 0;
  background: linear-gradient(35deg, $color-muted-bg, $color-light-bg 60%);

  .top {
    @include flex(column, null, null);
    width: 100%;
    padding: 0 1rem;
    max-width: 1250px;  
    gap: 3rem;

    .media {
      width: 100%;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .heading {
      @include font($font-google, 1.5rem);
      width: 100%;
      text-align: center;
      line-height: 1;
    }
  }

  .bottom {
    max-width: 1250px;
    width: 100%;
    @include flex(row, null, center);
    // background-color: red;

    h2 {
      @include font($font-google, 2rem, lighter);
      text-align: center;
      max-width: 925px;  
      padding: 2.5rem;
    }
  }

  @include respond(md) {
    .top {
      @include flex(row-reverse, center, center);
      padding: 0 5rem;

      .heading {
        text-align: left;
        font-size: 2rem;
      }
    }
  }
}
