@font-face {
  font-family: "Google Sans";
  src: url("./assets/fonts/googlesans.woff2");
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "Google Sans", sans-serif;
}

main {
  margin-top: 8.5rem;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
header .top {
  cursor: pointer;
  width: 100%;
}
header .top p {
  color: white;
  text-align: center;
  padding: 1rem 0.5rem;
  font-family: "Google Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  background: linear-gradient(124.64deg, #027dfd, #833ef2);
}
header .top p i {
  font-weight: lighter;
  margin-left: -0.1rem;
}
header .bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background-color: white;
}
header .bottom .logo {
  cursor: pointer;
}
header .bottom .logo img {
  height: 2rem;
}
header .bottom .nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-family: "Google Sans", sans-serif;
  font-size: 1rem;
  font-weight: normal;
}
header .bottom .nav-items a {
  display: none;
  text-decoration: none;
  font-weight: bold;
  padding: 1rem 1.2rem;
  color: rgb(69, 69, 69);
}
header .bottom .nav-items a:nth-of-type(3) {
  color: #0468D7;
}
header .bottom .nav-items a:hover {
  border-radius: 20rem;
  background: rgba(170, 170, 170, 0.204);
}
header .bottom .nav-items button {
  display: none;
  padding: 0.7rem 2rem;
  border: none;
  outline: none;
  border-radius: 10rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background-color: #0468D7;
}
header .bottom .menu {
  font-size: 1.2rem;
}
@media (min-width: 1280px) {
  header .top {
    border-bottom: 2px solid black;
  }
  header .top p {
    font-size: 1rem;
  }
  header .bottom .nav-items a, header .bottom .nav-items button {
    display: block;
  }
  header .bottom .menu {
    display: none;
  }
}

section.view-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  padding: 0 1.5rem;
  background: linear-gradient(35deg, #fcdde8, #f3fcff 60%);
}
section.view-1 .top {
  padding: 0 1rem;
  max-width: 1250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
section.view-1 .top .media {
  width: 100%;
}
section.view-1 .top .media img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.view-1 .top .heading {
  width: 100%;
  text-align: center;
  line-height: 1;
  font-family: "Google Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
}
section.view-1 .bottom {
  max-width: 1250px;
  width: 100%;
}
section.view-1 .bottom h2 {
  text-align: center;
  padding: 2.5rem;
  font-family: "Google Sans", sans-serif;
  font-size: 2rem;
  font-weight: lighter;
}
@media (min-width: 1022px) {
  section.view-1 .top {
    padding: 0 5rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
  section.view-1 .top .heading {
    text-align: left;
    font-size: 2rem;
  }
}

section.view-2 {
  width: 100%;
  padding-top: 4.375rem;
}
section.view-2 .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem 0 2rem;
}
section.view-2 .container .card {
  width: 100%;
  border-top: 4px solid #E8EAED;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem 3rem 0 0;
}
section.view-2 .container .card .mid {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  margin-bottom: 4.375rem;
}
section.view-2 .container .card .mid h3 {
  font-family: "Google Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  font-weight: bold;
}
section.view-2 .container .card .mid p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: #4A4A4A;
}
section.view-2 .container .card .media {
  width: 100%;
}
section.view-2 .container .card .media img {
  max-width: 600px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  display: block;
}
@media (min-width: 1030px) {
  section.view-2 .container {
    padding: 0 10rem 0 10rem;
    display: flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: flex-start;
  }
  section.view-2 .container .card {
    width: calc(33.333% - 2rem);
  }
  section.view-2 .container .card .mid {
    margin-bottom: 2rem;
  }
  section.view-2 .container .card .mid h3 {
    font-size: 1.8rem;
  }
  section.view-2 .container .card .mid p {
    font-size: 1.3rem;
  }
  section.view-2 .container .card .media img {
    max-width: 100%;
  }
}/*# sourceMappingURL=style.css.map */