@font-face {
  font-family: "abcg-regular";
  src: url("../assets/fonts/67110a451d677abf8340c6da_ABCGintoDiscord-Regular.woff2");
}

@font-face {
  font-family: "abcg-bold";
  src: url("../assets/fonts/67110b10efb84547ce5e8ef7_ABCGintoDiscordNord-Bold.woff2");
}