* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: white; */
}
html, body {
  height: 100%;
  width: 100%;
}

main{
    width: 100%;
    height: 100%;
    /* background-color: black; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "top-left ct-left ct-right top-right"
                         "top-left center center top-right"
                         "btm-left center center btm-up-right"
                         "btm-left btm-center btm-right btm-right"
    
    ;
    gap: 20px;
    padding: 18px;  
}

.common{
    border-radius: 20px;
}

#center-image{
    height: 150%;
    width: 100%;
    position: absolute;
    top: -50%;
    
}

#top-left-image{
    height: 100%;
    width: 100%;
    object-fit : cover;
    overflow: hidden;
    object-position: center;

}


#top-left{
    background-color: violet;
    grid-area: top-left;
}

#ct-left{
    background-color: indigo;
    grid-area: ct-left;
}

#ct-right{
    background-color: blue;
    grid-area: ct-right;
}

#top-right{
    background-color: green;
    grid-area: top-right;

}

#center{
    position: relative;
    background-color: yellow;
    /* background-image: url("./download.png"); */
      /* background-position: center; */
/* background-size: cover;  */

    grid-area: center;

}
#btm-left{
    background-color: orange;
    grid-area: btm-left;
}
#btm-center{
    background-color: red;
    grid-area: btm-center;
}

#btm-up-right{
    background-color: pink;
    grid-area: btm-up-right;
}
#btm-right{
    background-color: cyan;
    grid-area: btm-right;
}