@use '../styles/abstracts/variables' as *;
@use '../styles/abstracts/mixins' as *;

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contentPage {
  @include page-layout;
  padding-bottom: 0; // Padding is handled by grid gap
}

.pageHeader {
  display: flex;
  flex-direction: column;
  gap: 4px;

  h1 {
    font-size: $text-xl;
    font-weight: 500;
    color: $color-text-primary;
  }

  p {
    font-size: $text-sm;
    color: $color-text-muted;
  }
}
