@font-face {
    font-family: "PPSupply";
    src: url("./PPSupplyMono-Regular.df142e.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}

.hero {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: black;
}
.sound-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  z-index: 999;
  color: white;
  user-select: none;
}
.grab {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  transform: translate(10px, 10px);
  pointer-events: none; /* VERY IMPORTANT */
  color: white;
  letter-spacing: 0.5px;
  mix-blend-mode: difference; 
  font-size: 15px;
  font-family: "PPSupply", sans-serif;
  z-index: 9999;
}

.bg-video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: none;
}
.mask-box {
    position: fixed;
    border: 1px solid white;
    opacity: 0;
    transform: scale(0.9) translateY(30px);
    animation: maskReveal 1s ease forwards;
}

canvas{
  height: 100%;
  width: 100%;
  display: block;
}

#mask-1 {
    width: 60vw;
    height: 35vw;
    top: 10vh;
    left: 10vw;
    animation-delay: 0.2s;
}
#mask-2 {
    width: 17vw;
    height: 9vw;
    top: 5vh;
    left: 5vw;
    animation-delay: 0.3s;
}
#mask-3 {
    width: 35vw;
    height: 19vw;
    top: 5vh;
    left: 60vw;   
    animation-delay: 0.4s;
}
#mask-4 {
    width: 38vw;
    height: 22vw;
    top: 50vh;
    left: 5vw;
    animation-delay: 0.5s;
}
#mask-5 {
    width: 30vw;
    height: 15vw;
    top: 60vh;
    left: 60vw;
    animation-delay: 0.5s;
}

@keyframes maskReveal {
    from {
        opacity: 0;
        transform: scale(0.9) translateY(30px);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}
