.cards {
  height: 100%;
  overflow: scroll;
  padding: 1rem;
  padding-bottom: 10rem;

  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;

  .card {
    flex-grow: 1;
    flex-basis: 20rem;
    max-width: 30rem;

    padding-inline: 1rem;
    padding-block: 0.75rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(6px);

    img {
      width: 100%;
      border-radius: 0.5rem;
    }
    h1 {
      font-size: 1.5rem;
      font-weight: 500;
    }
    .description {
      opacity: 0.7;
    }
    .tags {
      display: flex;
      gap: 0.75rem;
      flex-wrap: wrap;

      .tag {
        width: fit-content;
        background-color: #353735;

        padding-inline: 1.25rem;
        padding-block: 0.75rem;
        border-radius: 0.75rem;

        white-space: nowrap;
      }
    }

    .urls {
      display: flex;
      gap: 1rem;
      a {
        color: white;
        opacity: 0.85;
        text-decoration: none;
        transition: all 0.3s linear;

        &:hover {
          opacity: 1;
          text-decoration: underline;
        }
      }
    }
  }
}
