.window {
  height: 500px;
  width: 700px;

  background-color: rgb(28, 28, 28);
  border-radius: 0.75rem;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.85);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;

  .nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    padding-inline: 0.75rem;
    padding-block: 0.5rem;

    .dots {
      display: flex;
      gap: 0.4rem;

      .dot {
        width: 15px;
        height: 15px;
        border-radius: 50%;
      }

      .red {
        background-color: #ff5f57;
      }
      .yellow {
        background-color: #ffbd2e;
      }
      .green {
        background-color: #28c840;
      }
    }
  }
}
