.mac-window-rnd.dragging .main-content {
  pointer-events: none;
}

.window {

  height: 100%;
  background-color: rgb(28, 28, 28);
  border-radius: 0.75rem;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.85);
  border: 1px solid #90856D;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  cursor: default;

  z-index: 1;

  .nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    padding-inline: 1rem;
    padding-block: 0.5rem;
    cursor: default;

    .dots {
      display: flex;
      gap: 0.4rem;
      transition: all 0.15s linear;

       &:hover {
          transform: scale(1.1);
        }
        &:hover .dot svg {
          opacity: 1;
        }

      .dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          filter: brightness(0.9);
        }

        svg {
          width: 7px;
          height: 7px;
          opacity: 0;
          transition: opacity 0.15s linear;
          overflow: visible;
        }
      }

      .red {
        background-color: #ff5f57;
      }
      .yellow {
        background-color: #ffbd2e;
      }
      .green {
        background-color: #28c840;

        svg {
          width: 10px;
          height: 10px;
        }
      }
    }
  }

  .window-drag-handle {
    user-select: none;
  }

  .main-content {
    height: 100%;
  }

  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.25) transparent;

  *::-webkit-scrollbar {
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
}
