* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, 
body,
#root {
  height: 100%;
  width: 100%;
}

main {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('/wallpaper.png');
    background-size: cover;
    background-position: center;
  overflow: hidden;
}
