* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, 
body,
#root {
  height: 100%;
  width: 100%;
}

main {
  user-select: none;
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('/wallpaper2.png');
    background-size: cover;
    background-position: center;
  overflow: hidden;

  #desktop {
  position: relative;
  height: 100%; /* navbar height */
  overflow: hidden;
}

}
