@font-face {
  font-family: "fire-2";
  src: url("./Firelost-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "fire-2", sans-serif;
  font-weight: 100;

}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes borderAnimate{
    from {
        --rotate: 0deg;
    }
    to {
        --rotate: 360deg;
    }
}
.box {
  max-width: 300px;
  padding-inline: 10px;
  padding-bottom: 10px;
  color: white;
  text-shadow: 0 0 5px;
  /* box-shadow: 0 0 50px #FFE805;  */
  border-radius: 15px;
  background: linear-gradient(rgb(0, 0, 0)) padding-box,
    conic-gradient(from var(--rotate), black, #FFE805, black) border-box;
  /* border: 10px solid rgba(255, 255, 255, 0); */
  animation: borderAnimate 10s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  transition: all 0.3s ease;
  font-weight: 100;
}
.box:hover {
  animation-play-state: running;
  box-shadow: 0 0 50px #FFE805;
    border: 5px solid rgba(255, 255, 255, 0);

  background: linear-gradient(rgb(0, 0, 0)) padding-box,
    conic-gradient(from var(--rotate), black, #FFE805, black) border-box;
    animation: borderAnimate 3s linear infinite;
  /* animation-iteration-count: infinite; */
  color: #ffe600;
  text-shadow: 0 0 5px;
}

.box .fire-girl {
  width: 100%;
}



